<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about me </title>
</head>
<body>
{% extends 'main/base.html' %}

{% block content %}
<div class ="about-me-cont">
    <h1>
        About Me
    </h1>
    <p>
    Hello i'm Mohammed Alkathiri, a computer engineer graduate and i learned a lot of skills during my studies at collage, one of my skills is penetration testing which is used to find vulnerabilities in a computer system. The purpose of this test is to identify any weak spots in a system's defenses which attackers could take advantage of.
    </p>
</div>
{% endblock %}

</body>
</html>