{% extends 'main/base.html' %}
{% load static %}

{% block background_image %}
    {% static 'images/projects-bg.jpg' %}
{% endblock %}

{% block content %}
    <h2>My Projects</h2>
    <div class="projects-list">
        {% for project in projects %}
            <div class="project-card">
                <h3>{{ project.title }}</h3>
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image">
                {% endif %}
                <p>{{ project.description|truncatewords:100 }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
